# Systemd unit file to mount a directory be placed in /usr/lib/systemd/system/<some_file_name>.mount
# Artice on HowTO can be found here: https://www.golinuxcloud.com/mount-filesystem-without-fstab-systemd-rhel-8/

[Unit]
Description=Mount backup directory
DefaultDependencies=no
Conflicts=umount.target
Before=local-fs.target umount.target
After=swap.target

[Mount]
What=/dev/disk/by-uuid/<UUID>
Where=/backup
Type=ext4
Options=defaults

[Install]
WantedBy=multi-user.target
